.header {
  display: flex;
  justify-content: center;
}

.input {
  margin-right: 5px;
  padding: 5px 10px;
}

.button {
  padding: 5px 10px;
}

.todo {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.icons {
  display: flex;
  gap: 20px;
}
